In [1]:
import pandas as pd

In [6]:
ga_page_data = pd.read_csv('data/ga_data/ga_pages.csv', skiprows=6, nrows=376)

In [7]:
gsc_page = pd.read_csv('data/other_data/facebook-data-ads.csv',
                      parse_dates=['Reporting starts','Reporting ends'])

In [8]:
#Fixing google analytics page data
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,/,813,665,00:02:05,641,14.35%,55.97%,£0.00
1,/www.miratrix.co.uk,515,388,00:02:17,373,59.25%,56.89%,£0.00
2,/get-in-touch/,336,163,00:01:06,23,10.53%,33.04%,£0.00
3,/app-marketing-agency/,140,120,00:02:04,73,18.31%,57.86%,£0.00
4,/app-store-optimization-services/,136,105,00:01:30,22,14.29%,47.79%,£0.00

In [9]:
#looking at google analytics we a see in Row (0) and (1) Google Analytics has been gathering homepage data under two pages, these pages are ("/") and ("www.mirtrix".co.uk")
# i will create a URL that can be pair with data gathered from Google Search Console

In [10]:
###Recreate Google Analytics Page URL

In [11]:
#split the url by / 
split_dom = ga_page_data.Page.str.rpartition("/")

In [12]:
split_dom.head()

                                  0  1                   2
0                                    /
1                                    /  www.miratrix.co.uk
2                     /get-in-touch  /
3             /app-marketing-agency  /
4  /app-store-optimization-services  /

In [13]:

split_dom[2].replace("", "miratrix.co.uk", inplace=True)

In [14]:
#Changing URLforms so that it matches other data Sources
split_dom[2].replace("www.miratrix.co.uk","miratrix.co.uk", inplace=True)

In [15]:
split_dom.head()

                                  0  1               2
0                                    /  miratrix.co.uk
1                                    /  miratrix.co.uk
2                     /get-in-touch  /  miratrix.co.uk
3             /app-marketing-agency  /  miratrix.co.uk
4  /app-store-optimization-services  /  miratrix.co.uk

In [18]:
#build the URL and replace current URL's with new URL Format
ga_page_data.Page = "https://"+split_dom[2] + split_dom[0] + "/"

In [19]:
ga_page_data.head()

,Page,Pageviews,Unique Pageviews,Avg. Time on Page,Entrances,Bounce Rate,% Exit,Page Value
0,https://miratrix.co.uk/,813,665,00:02:05,641,14.35%,55.97%,£0.00
1,https://miratrix.co.uk/,515,388,00:02:17,373,59.25%,56.89%,£0.00
2,https://miratrix.co.uk/get-in-touch/,336,163,00:01:06,23,10.53%,33.04%,£0.00
3,https://miratrix.co.uk/app-marketing-agency/,140,120,00:02:04,73,18.31%,57.86%,£0.00
4,https://miratrix.co.uk/app-store-optimization-...,136,105,00:01:30,22,14.29%,47.79%,£0.00

In [20]:
#Grouping Data
#-in order to fix the issue of having two homepage URL we need to group the data by Page. This Poses some issues as not all the data are numerical and you are also dealing with a timeseries

#What can be done is to change the object feilds to numerical and to convert the time on page column to a timedelta

In [24]:
#Replace 0 with time format 00:00:00
ga_page_data['Avg. Time on Page'] = ga_page_data['Avg. Time on Page'].replace(0, '00:00:00')

In [26]:
#Convert column from string to time delta
ga_page_data['Avg. Time on Page'] = pd.to_timedelta(ga_page_data['Avg. Time on Page'])

In [28]:
#Replace $ with Nothing
ga_page_data['Bounce Rate'] = ga_page_data['Bounce Rate'].str.replace('%',"")

#Convert the coloumn into a flot
ga_page_data['Bounce Rate'] = ga_page_data['Bounce Rate'].astype('float')

In [33]:
#Replace % with Nothing 
ga_page_data['% Exit'] = ga_page_data['% Exit'].str.replace('%',"")
ga_page_data['% Exit'] = ga_page_data['% Exit'].astype('float')

In [38]:
# ['Page Value']
ga_page_data['Page Value'] = ga_page_data['Page Value'].str.replace('£',"")
ga_page_data['Page Value'] = ga_page_data['Page Value'].astype('float')

In [39]:
#set the index for the dataframe to page
ga_page_data.set_index('Page',inplace=True)

In [40]:
ga_page_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376 entries, https://miratrix.co.uk/ to https://www.miratrix.co.uk#utm_source=nav&utm_medium=traffic&utm_campaign=datatools/
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pageviews          376 non-null    int64
 1   Unique Pageviews   376 non-null    int64
 2   Avg. Time on Page  376 non-null    timedelta64[ns]
 3   Entrances          376 non-null    int64
 4   Bounce Rate        376 non-null    float64
 5   % Exit             376 non-null    float64
 6   Page Value         376 non-null    float64
dtypes: float64(3), int64(3), timedelta64[ns](1)
memory usage: 23.5+ KB